@import de.knockoutwhist.control.controllerBaseImpl.sublogic.util.TrickUtil
@import de.knockoutwhist.utils.Implicits.*

@(player: de.knockoutwhist.player.AbstractPlayer, gamelobby: logic.game.GameLobby)

<div class="lobby-background vh-100">
    <main class="game-field-background vh-100 ingame-side-shadow">
        <div class="py-5 container-xxl">

            <div class="row ms-4 me-4">
                <div class="col-4 mt-5 text-start" id="turn-component"></div>

                <div class="col-4 text-center">



                    <div id="score-table"></div>


                    <div class="d-flex justify-content-center g-3 mb-5" id="trick-cards-container"></div>

                </div>


                <div class="col-4 mt-5 text-end" id="game-info-component"></div>


            </div>

            <div class="row justify-content-center g-2 mt-4 bottom-div" style="backdrop-filter: blur(4px);
                margin-left: 0;
                margin-right: 0;">
                <div id="player-hand-container"></div>
            </div>
        </div>
    </main>
</div>
<script>
    connectWebSocket()
    canPlayCard = @gamelobby.logic.getCurrentPlayer.contains(player);
    globalThis.initGameVueComponents()
</script>
